<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/main.css" rel="stylesheet"> 
    <title>BlogPost</title>
</head>
<body>
    <div class="header">
        <div >
             <p>DAILY <span class="insights">INSIGHTS</span></p>
        </div>

        <div class="right">
            <a href="/">HOME</a>
            <a href="/aboutus">ABOUT</a>
        </div>
        
    </div>
    
</body>
</html>